body{
  background: #000;
  color: #fff
}


.App {
  text-align: center;
  padding: 5%
}

.App-title{
  font-size: 25px

}

/* Profile */

.profile{
  display: flex;
  justify-content: center;
}

.profile-info{
  margin-left: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-img {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 75px;
  object-fit: cover; 
}

.album-img {
  width: 150px;
  height: 150px;
  border: 3px solid white;
  object-fit: cover; 
}

.profile-name{
  font-size: 25px;

}


/* .Gallery */

.track {
  width: 220px;
  height: 220px;
  border: 3px solid white;
  border-radius: 3px;
  padding: 10px;
  text-align: left;
  cursor: pointer;
}

.track-img {
  
}